{% extends 'base.html' %}
{% load static %}

{% block title %}
    Регион29
{% endblock %}

{% block content %}
<div class="slider" style="background:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url({% static '/img/slider.jpg' %}) center/cover no-repeat">
  <article class="slider__item">
    <h3 class="slider__header">
      Lorem, ipsum dolor.
    </h3>
    <p class="slider__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
    </p>
  </article>
  <article class="slider__item">
    <h3 class="slider__header">
      Lorem, ipsum dolor.
    </h3>
    <p class="slider__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
    </p>
  </article>
  <article class="slider__item">
    <h3 class="slider__header">
      Lorem, ipsum dolor.
    </h3>
    <p class="slider__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
    </p>
  </article>
  <article class="slider__item">
    <h3 class="slider__header">
      Lorem, ipsum dolor.
    </h3>
    <p class="slider__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
    </p>
  </article>
</div>
{% endblock %}