{% extends 'base.html' %}
{% load static %}

{% block title %}
    Регион29
{% endblock %}

{% block content %}
<main class="main">
  <div class="slider" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url({% static 'img/slider.jpg' %}) center/cover no-repeat">
    <article class="slider__item">
      <h3 class="slider__header">
        Lorem, ipsum dolor.
      </h3>
      <p class="slider__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
      </p>
    </article>
    <article class="slider__item">
      <h3 class="slider__header">
        Lorem, ipsum dolor.
      </h3>
      <p class="slider__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
      </p>
    </article>
    <article class="slider__item">
      <h3 class="slider__header">
        Lorem, ipsum dolor.
      </h3>
      <p class="slider__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
      </p>
    </article>
    <article class="slider__item">
      <h3 class="slider__header">
        Lorem, ipsum dolor.
      </h3>
      <p class="slider__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta.
      </p>
    </article>
  </div>
  <section class="price">
    <h2 class="hidden">Цены</h2>
    <ul class="price__list">
      <li class="price__item cat cat--right">
        <img class="cat__img cat__img--auto" src="{% static 'img/auto.png' %}" alt="Категория B">
        <p class="cat__name">В</p>
        <div class="cat__content cat__content--right">   
          <p class="cat__price cat__price--right">{{ priceB.price }}₽</p>
          <p class="cat__text cat__text--right">Права категории B</p>
        </div>     
      </li>
      <li class="price__item cat cat--left">
        <img class="cat__img cat__img--moto" src="{% static 'img/moto.png' %}" alt="Категория А">
        <p class="cat__name">A</p>
        <div class="cat__content cat__content--left">
          <p class="cat__price cat__price--left">{{ priceA.price }}₽</p>
          <p class="cat__text cat__text--left">Права категории A</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="features">
    <h2 class="hidden">Преимущества Автошколы Регион29</h2>
    <ul class="features__list">
      <li class="features__item">
        <i class="fas fa-wallet features__icon"></i>
        <p class="features__text">Беспроцентная рассрочка платежа</p>
      </li>
      <li class="features__item">
        <i class="fas fa-user-graduate features__icon"></i>
        <p class="features__text">Обучение и экзамен в ГИБДД с 17 лет</p>
      </li>
      <li class="features__item">
        <i class="fas fa-award features__icon"></i>
        <p class="features__text">60% учеников получают права с 1 раза</p>
      </li>
      <li class="features__item">
        <i class="fas fa-city features__icon"></i>
        <p class="features__text">Автодром в центре города (ДК “Строитель”)</p>
      </li>
    </ul>
  </section>
  <section class="sale">
    <h2 class="hidden">Акция на одновременное прохождение категорий A и B</h2>
    <div class="sale__wrapper">  
    <img class="sale__img sale__img--moto" src="{% static 'img/moto.png' %}" alt="Категория B">
    <img class="sale__img sale__img--auto" src="{% static 'img/auto.png' %}" alt="Категория B">
      <p class="sale__cat">A+B</p>
      <div class="sale__content">
        <p class="sale__header">АВТОАРИФМЕТИКА A+B={{ priceAB.price }} рублей</p>
        <p class="sale__text">При обучении сразу на двух категориях “А” и “B” - скидка {{ priceSale.price }} рублей</p>
      </div>     
    </div>    
  </section> 
</main>
{% endblock %}