{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="http://водитель29.рф"/>{% endblock %}
{% block title %}Автошкола Северодвинск 🚗 Регион29{% endblock %}
{% block description %}<meta name="description" content="Обучение на водительские права в Северодвинске автошкола Регион29. Категория B, A. Звоните +7 (952) 252 72 02">{% endblock %}
{% block keywords %}<meta name="keywords" content="автошкола, автошколы северодвинска, права, водительские права, вождение, гибдд">{% endblock %}

{% block content %}
<main class="main">
  <div class="slider" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url({% static 'img/slider.jpg' %}) center/cover no-repeat">
    {% for slider in sliders %}
      <article class="slider__item">
        <h3 class="slider__header">
          {{ slider.title }}
        </h3>
        <p class="slider__text">
          {{ slider.text }}
        </p>
      </article>
    {% endfor %}
  </div>
  <section class="price">
    <h2 class="hidden">Автошкола Северодвинск цены</h2>
    <ul class="price__list">
      <li class="price__item cat cat--right">
        <img class="cat__img cat__img--auto" src="{% static 'img/auto.png' %}" alt="Категория B">
        <p class="cat__name">В</p>
        <div class="cat__content cat__content--right">   
          <p class="cat__price">37000₽</p>
          <p class="cat__text">Права категории B</p>
        </div>     
      </li>
      <li class="price__item cat cat--left">
        <img class="cat__img cat__img--moto" src="{% static 'img/moto.png' %}" alt="Категория А">
        <p class="cat__name">A</p>
        <div class="cat__content cat__content--left">
          <p class="cat__price">15000₽</p>
          <p class="cat__text">Права категории A</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="features">
    <h2 class="hidden">Преимущества автошколы</h2>
    <ul class="features__list">
      <li class="features__item">
        <i class="fas fa-wallet features__icon"></i>
        <p class="features__text">Беспроцентная рассрочка платежа</p>
      </li>
      <li class="features__item">
        <i class="fas fa-user-graduate features__icon"></i>
        <p class="features__text">Обучение и экзамен в ГИБДД с 17 лет</p>
      </li>
      <li class="features__item">
        <i class="fas fa-award features__icon"></i>
        <p class="features__text">60% учеников получают права с 1 раза</p>
      </li>
      <li class="features__item">
        <i class="fas fa-city features__icon"></i>
        <p class="features__text">Автодром в центре города (ДК “Строитель”)</p>
      </li>
    </ul>
  </section>
  <section class="sale">
    <h2 class="hidden">Акция на одновременное прохождение категорий A и B</h2>
    <img class="sale__img sale__img--moto" src="{% static 'img/moto.png' %}" alt="Категория A">
    <img class="sale__img sale__img--auto" src="{% static 'img/auto.png' %}" alt="Категория B">
    <p class="sale__cat">A+B</p>
    <div class="sale__content">
      <p class="sale__header">АВТОАРИФМЕТИКА A+B=49000 рублей</p>
      <p class="sale__text">При обучении сразу на двух категориях “А” и “B” - скидка 2000 рублей</p>
    </div>     
  </section> 
</main>
{% endblock %}