{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="http://водитель29.рф/%D1%86%D0%B5%D0%BD%D1%8B"/>{% endblock %}
{% block title %}Автошкола Северодвинск цены 💰 Регион29{% endblock %}
{% block description %}<meta name="description" content="Автошкола Северодвинск цены. Низкие цены на обучение в автошколе Северодвинска Регион29. Звоните +7 (952) 252 72 02">{% endblock %}
{% block keywords %}<meta name="keywords" content="автошкола северодвинск цены, автошколы северодвинска стоимость обучения">{% endblock %}

{% block content %}
<section class="price price--col-right">
  <h2 class="hidden">Автошкола Северодвинск цены</h2>
  <div class="price__content price__content--left">
    <article class="price__article article">
      <h2 class="article__head">Обучение</h2>
      <p class="article__text">Автошкола «Регион29» осуществляет подготовку водителей разных категорий.
          Обучение включает в себя занятия по теории и практике по программе, согласованной с Управлением ГИБДД.
          Деятельность нашего учебного заведения лицензирована в соответствии с федеральными законами и нормами
          Минтранса РФ. Цена за курс является одной из самых низких в Северодвинске и доступной для всех граждан.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Теоретическая часть</h2>
      <p class="article__text">На занятиях Вы будете не просто заучивать ПДД. Вы получите полное понимание принципа 
        движения, научитесь ориентироваться в законах и изучите устройство автомобиля. Все это будет надежной основой 
        для уверенного управления автомобилем и поможет избежать аварий и штрафов.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Практическая часть – вождение</h2>
      <p class="article__text">Наш автодром находится в центре города, что сильно сокращает время перемещения. Но не
        нужно ехать на автодром, инструктор сам заедет за Вами и после занятия отвезет обратно. Еще одно удобство в том,
        что занятие будет начинаться прямо от Вашего дома, работы или места где Вы будете находиться.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Внутренний экзамен</h2>
      <p class="article__text">После прохождения теоретической и практической части курса в автошколе сдается внутренний
        экзамен. После сдачи внутреннего экзамена Вы готовитесь сдать экамены ГИБДД.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Экзамен ГИБДД</h2>
      <p class="article__text">Остается сделать последний шаг - экамены ГИБДД. В назначенный ГИБДД день сдается экзамен,
        успешно сдав теорию ПДД, автодром и вождение в городе, Вы получите водительские права.</p>
    </article>
  </div>
  <ul class="price__content price__content--right">
    <li class="price__item cat cat--right price__item--col-right cat--col-right">
      <img class="cat__img cat__img--auto cat__img--col-right" src="{% static 'img/auto.png' %}" alt="Категория B">
      <p class="cat__name cat__name--col-right">В</p>
      <div class="cat__content cat__content--right cat__content--col-right">   
        <p class="cat__price">37000₽</p>
        <p class="cat__text">Права категории B</p>
      </div>     
    </li>
    <li class="price__item cat cat--right price__item--col-right cat--col-right">
      <img class="cat__img cat__img--moto cat__img--left cat__img--col-right" src="{% static 'img/moto.png' %}" alt="Категория А">
      <p class="cat__name cat__name--col-right">A</p>
      <div class="cat__content cat__content--right cat__content--col-right">
        <p class="cat__price">15000₽</p>
        <p class="cat__text">Права категории A</p>
      </div>
    </li>
  </ul>
</section>
<section class="sale">
  <h2 class="hidden">Акция на одновременное прохождение категорий A и B</h2>
  <img class="sale__img sale__img--moto" src="{% static 'img/moto.png' %}" alt="Категория A">
  <img class="sale__img sale__img--auto" src="{% static 'img/auto.png' %}" alt="Категория B">
  <p class="sale__cat">A+B</p>
  <div class="sale__content">
    <p class="sale__header">АВТОАРИФМЕТИКА A+B=49000 рублей</p>
    <p class="sale__text">При обучении сразу на двух категориях “А” и “B” - скидка 2000 рублей</p>
  </div>     
</section> 
{% endblock %}