{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="http://водитель29.рф/цены"/>{% endblock %}
{% block title %}Автошкола Северодвинск цены 💰 Регион29{% endblock %}
{% block description %}<meta name="description" content="Низкие цены на обучение в автошколе Северодвинска Регион29">{% endblock %}
{% block keywords %}<meta name="keywords" content="автошкола северодвинск цены, автошколы северодвинска стоимость обучения">{% endblock %}

{% block content %}
<section class="price contaner price--col-left">
  <h2 class="hidden">Цены</h2>
  <div class="price__content price__content--right price__about">
    <article class="price__article article">
      <h2 class="article__head">Теоретическая часть</h2>
      <p class="article__text">На занятиях вы будете не просто зубрить правила дорожного движения.
        Вы получите глубокое понимание принципа движения, изучите
        устройство автомобиля и научитесь ориентироваться в законах.
        Это создаст надежную основу для уверенного управления
        автомобилем и позволит избежать аварий и штрафов.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Практическая часть – вождение</h2>
      <p class="article__text">Наш автодром находится в центре города, но ехать туда самостоятельно не нужно.
        Инструктор сам заедет за вами и после занятия отвезет обратно.
        Когда вы начнете самостоятельно ездить по городу, занятие
        будет начинаться прямо от вашего дома или работы.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Экзамены</h2>
      <p class="article__text">После прохождения теоретической и практической части курса в
        автошколе сдается внутренний экзамен. 
        После сдачи внутреннего   экзамена,
        в назначенный день сдается экзамен в ГИБДД,  
        успешно сдав который, вы получите водительские права.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Экзамены</h2>
      <p class="article__text">После прохождения теоретической и практической части курса в
        автошколе сдается внутренний экзамен. 
        После сдачи внутреннего   экзамена,
        в назначенный день сдается экзамен в ГИБДД,  
        успешно сдав который, вы получите водительские права.</p>
    </article>
    <article class="price__article article">
      <h2 class="article__head">Экзамены</h2>
      <p class="article__text">После прохождения теоретической и практической части курса в
        автошколе сдается внутренний экзамен. 
        После сдачи внутреннего   экзамена,
        в назначенный день сдается экзамен в ГИБДД,  
        успешно сдав который, вы получите водительские права.</p>
    </article>
  </div>
  <ul class="price__content price__content--left">
    <li class="price__item cat cat--right price__item--col-left cat--col-left">
      <img class="cat__img cat__img--auto" src="{% static 'img/auto.png' %}" alt="Категория B">
      <p class="cat__name">В</p>
      <div class="cat__content cat__content--right">   
        <p class="cat__price cat__price--right">{{ priceB.price }}₽</p>
        <p class="cat__text cat__text--right">Права категории B</p>
      </div>     
    </li>
    <li class="price__item cat cat--right price__item--col-left cat--col-left">
      <img class="cat__img cat__img--moto cat__img--left" src="{% static 'img/moto.png' %}" alt="Категория А">
      <p class="cat__name">A</p>
      <div class="cat__content cat__content--right">
        <p class="cat__price cat__price--right">{{ priceA.price }}₽</p>
        <p class="cat__text cat__text--right">Права категории A</p>
      </div>
    </li>
  </ul>
</section>
<section class="sale">
  <h2 class="hidden">Акция на одновременное прохождение категорий A и B</h2>
  <div class="sale__wrapper">  
  <img class="sale__img sale__img--moto" src="{% static 'img/moto.png' %}" alt="Категория B">
  <img class="sale__img sale__img--auto" src="{% static 'img/auto.png' %}" alt="Категория B">
    <p class="sale__cat">A+B</p>
    <div class="sale__content">
      <p class="sale__header">АВТОАРИФМЕТИКА A+B={{ priceAB.price }} рублей</p>
      <p class="sale__text">При обучении сразу на двух категориях “А” и “B” - скидка {{ priceSale.price }} рублей</p>
    </div>     
  </div>    
</section> 
{% endblock %}