{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="reviews container">
  <h2 class="hidden">Отзывы</h2>
  <ul class="reviews__list">
    <li class="reviews__item reviewer">
      <article class="article reviewer__article">
        <div class="reviewer__head">
          <div class="article__img reviewer__img">
            <img src="{% static 'img/logo.jpg' %}" alt="" class="">
          </div>
          <div class="reviewer__info">
            <p class="article__head reviewer__name">Имя Фамилиля</p>
            <a href="#" class="reviewer__link">vk.com/id123</a>
          </div>
        </div>
        <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquid quia perferendis in. Debitis est fugiat quis tempora nulla possimus ducimus quas quos fuga. Perspiciatis esse quisquam cupiditate cumque ipsum, ad dolorum ea voluptas facilis nisi fuga, provident eligendi aliquam officiis perferendis quaerat nam labore quis exercitationem consequatur id! Earum.</p>
      </article>
    </li>
    <li class="reviews__item reviewer">
      <article class="article reviewer__article">
        <div class="reviewer__head">
          <div class="article__img reviewer__img">
            <img src="{% static 'img/logo.jpg' %}" alt="" class="">
          </div>
          <div class="reviewer__info">
            <p class="article__head reviewer__name">Имя Фамилиля</p>
            <a href="#" class="reviewer__link">vk.com/id123</a>
          </div>
        </div>
        <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquid quia perferendis in. Debitis est fugiat quis tempora nulla possimus ducimus quas quos fuga. Perspiciatis esse quisquam cupiditate cumque ipsum, ad dolorum ea voluptas facilis nisi fuga, provident eligendi aliquam officiis perferendis quaerat nam labore quis exercitationem consequatur id! Earum.</p>
      </article>
    </li>
    <li class="reviews__item reviewer">
      <article class="article reviewer__article">
        <div class="reviewer__head">
          <div class="article__img reviewer__img">
            <img src="{% static 'img/logo.jpg' %}" alt="" class="">
          </div>
          <div class="reviewer__info">
            <p class="article__head reviewer__name">Имя Фамилиля</p>
            <a href="#" class="reviewer__link">vk.com/id123</a>
          </div>
        </div>
        <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquid quia perferendis in. Debitis est fugiat quis tempora nulla possimus ducimus quas quos fuga. Perspiciatis esse quisquam cupiditate cumque ipsum, ad dolorum ea voluptas facilis nisi fuga, provident eligendi aliquam officiis perferendis quaerat nam labore quis exercitationem consequatur id! Earum.</p>
      </article>
    </li>
    <li class="reviews__item reviewer">
      <article class="article reviewer__article">
        <div class="reviewer__head">
          <div class="article__img reviewer__img">
            <img src="{% static 'img/logo.jpg' %}" alt="" class="">
          </div>
          <div class="reviewer__info">
            <p class="article__head reviewer__name">Имя Фамилиля</p>
            <a href="#" class="reviewer__link">vk.com/id123</a>
          </div>
        </div>
        <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquid quia perferendis in. Debitis est fugiat quis tempora nulla possimus ducimus quas quos fuga. Perspiciatis esse quisquam cupiditate cumque ipsum, ad dolorum ea voluptas facilis nisi fuga, provident eligendi aliquam officiis perferendis quaerat nam labore quis exercitationem consequatur id! Earum.</p>
      </article>
    </li>
    <li class="reviews__item reviewer">
      <article class="article reviewer__article">
        <div class="reviewer__head">
          <div class="article__img reviewer__img">
            <img src="{% static 'img/logo.jpg' %}" alt="" class="">
          </div>
          <div class="reviewer__info">
            <p class="article__head reviewer__name">Имя Фамилиля</p>
            <a href="#" class="reviewer__link">vk.com/id123</a>
          </div>
        </div>
        <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquid quia perferendis in. Debitis est fugiat quis tempora nulla possimus ducimus quas quos fuga. Perspiciatis esse quisquam cupiditate cumque ipsum, ad dolorum ea voluptas facilis nisi fuga, provident eligendi aliquam officiis perferendis quaerat nam labore quis exercitationem consequatur id! Earum.</p>
      </article>
    </li>
  </ul>
  <ul class="reviews__buttons">
    <li class="reviews__button reviews__button--prev"><i class="fas fa-chevron-left"></i></li>
    <li class="reviews__button">1</li>
    <li class="reviews__button">2</li>
    <li class="reviews__button">3</li>
    <li class="reviews__button reviews__button--next"><i class="fas fa-chevron-right"></i></li>
  </ul>
</section>
{% endblock %}