{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="http://водитель29.рф/%D0%BE%D1%82%D0%B7%D1%8B%D0%B2%D1%8B"/>{% endblock %}
{% block title %}Автошкола Северодвинск отзывы 👍 Регион29{% endblock %}
{% block description %}<meta name="description" content="Автошколы Северодвинска отзывы. Отзывы об автошколе Северодвинска Регион29. Звоните 8 (952) 252 72 02">{% endblock %}
{% block keywords %}<meta name="keywords" content="автошколы северодвинска отзывы, отзывы об автошколах северодвинска">{% endblock %}

{% block content %}
<section class="reviews">
  <h2 class="hidden">Автошколы Северодвинска отзывы</h2>
  <ul class="reviews__list">
    {% for review in reviews  %}
      <li class="reviews__item reviewer">
        <article class="article reviewer__article">
          <div class="reviewer__head">
            <div class="article__img reviewer__img">
              <img src="{{ review.img.url }}" alt="Автошкола Северодвинск отзыв" width="100%" height="100%">
            </div>
            <div class="reviewer__info">
              <p class="article__head reviewer__name">{{ review.name }} {{ review.surname }}</p>
              <a href="#" class="reviewer__link">{{ review.link }}</a>
            </div>
          </div>
          <p class="article__text">{{ review.text }}</p>
        </article>
      </li>
    {% endfor %}
  </ul>
  <!-- Возможная реализация кнопок -->
  <!-- <ul class="reviews__buttons">
    <li class="reviews__button reviews__button--prev"><i class="fas fa-chevron-left"></i></li>
    <li class="reviews__button">1</li>
    <li class="reviews__button">2</li>
    <li class="reviews__button">3</li>
    <li class="reviews__button reviews__button--next"><i class="fas fa-chevron-right"></i></li>
  </ul> -->
</section>
{% endblock %}