{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block canonical %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  {% block description %}{% endblock %}
  {% block keywords %}{% endblock %}
  <!-- Template Basic Images -->
  <meta property="og:image" content="">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'img/favicon-196x196.png' %}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static 'img/favicon-128.png' %}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{% static 'img/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo" content="{% static 'img/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo" content="{% static 'img/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo" content="{% static 'img/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo" content="{% static 'img/mstile-310x310.png' %}" />
  <!-- Custom Browsers Color -->
  <meta name="theme-color" content="#000">
  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
  {% include 'header.html' %}

  {% block content %}
  {% endblock %}

  {% include 'footer.html' %}

  <!-- Scripts -->
  <div class="pop-up hidden">
    <form action="" class="pop-up__form">
      <button class="fas fa-times pop-up__close"></button>
      <h2 class="pop-up__head">Оставить заявку</h2>
      <label class="pup-up__label">
        <p class="pop-up__text">Имя:</p>
        <input type="text" class="pop-up__input">
      </label>
      <label class="pup-up__label">
        <p class="pop-up__text">Телефон:</p>
        <input type="text" class="pop-up__input">
      </label>
      <label class="pup-up__label pop-up__list">
        <p class="pop-up__text">Категория:</p>
        <div>
          <input type="checkbox" class="pop-up__checkbox" name="" id=""><span class="pop-up__text pop-up__cat">A</span>
        </div>
        <div>
          <input type="checkbox" class="pop-up__checkbox" name="" id=""><span class="pop-up__text pop-up__cat">B</span>
        </div>
      </label>
      <button type="submit" class="button pop-up__button">Отправить заявку</button>
    </form>
  </div>
  <script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>
