{% load staticfiles %}
<header class="header">
  <div class="container">
    <div class="header__item">
      <div class="main-logo">
        <img class="logo" src="{% static 'img/logo.jpg' %}" alt="Логотип" width="100%" height="100%">
        <h1 class="hidden">Автошкола Регион29</h1>
      </div>
      <div class="info">
        <p class="info__phone">+7 902 252 72 02</p>
        <p class="info__adress">г.Северодвинск, ул. Пионерская, 14а/24, офис 8</p>
      </div>
    </div>
    <div class="header__item">
      <button class="button button--big header__button">Записаться</button>
    </div>
  </div>
  <nav class="header__nav">
    <div class="wrapper">
      <ul class="nav main-nav">
        <li class="nav__item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="nav__item"><a href="{% url 'price' %}">Цены</a></li>
        <li class="nav__item"><a href="{% url 'reviews' %}">Отзывы</a></li>
        <li class="nav__item"><a href="#">Об автошколе</a></li>
        <li class="nav__item"><a href="#">Лицензии</a></li>
        <li class="nav__item"><a href="#">Контакты</a></li>
      </ul>
    </div>
  </nav>
</header>
