@import "slider"
@import "vars"

.price
  +wrapper()
  padding: 0
  overflow: hidden
  cursor: pointer
  // display: flex
  &__list
    +row-flex()
    margin: 0
  &__item
    +col()
    width: 50%
    margin: 0
    background-color: $yellow 
    &--col-left
      width: 100%
  &__content
    width: 50%
    &--right
      color: $coal
    &--left
      overflow: visible
      position: sticky
      top: 0
      box-shadow: 0em 0em 2em 0em rgba(0,0,0,0.75)
  &--col-left
    display: flex
    align-items: flex-start
    cursor: default
    overflow: visible
    

.cat
  position: relative
  padding: 3.5em 0
  &__name
    line-height: 0.6em
    letter-spacing: -0.06em
    position: relative
    color: $white
    font-size: 15em
    font-weight: bold
    z-index: 1
  &__img
    position: absolute
    width: 23em
    top: 1.5em
    &--auto
      left: 5em
    &--moto
      right: 5em
      width: 18em
    &--left
      transform: scaleX(-1)
      left: 5em
  &__content
    position: absolute
    top: 3em
    &--right
      right: 3em
    &--left
      left: 3em
  &__price
    font-size: 4.2em
    font-weight: bold
    color: $coal
    &--right
      right: 0
    &--left
      left: 0
  &__text
    position: absolute
    width: 6em
    font-size: 2em
    font-weight: bold
    color: $coal
    &--right
      text-align: right
      right: 0
    &--left
      text-align: left
      left: 0
  &--right
    text-align: left
    padding-left: 3em
    &:hover
      position: relative
      z-index: 1
      box-shadow: 1em 1em 2em 1em rgba(0,0,0,0.75)
      transform: scale(1.1)
  &--left
    text-align: right
    padding-right: 3em
    &:hover
      position: relative
      z-index: 1
      box-shadow: -1em 1em 2em 1em rgba(0,0,0,0.75)
      transform: scale(1.1)
  &--col-left
    &:hover
      position: relative
      z-index: 0
      box-shadow: none
      transform: none


.features
  +wrapper()
  overflow: hidden
  padding: 0
  &__list
    +row-flex()
    margin: 0
  &__item
    +col()
    width: 25%
    margin: 0
    padding: 5em
    display: flex
    flex-direction: column
    align-items: center
    background-color: $coal
    box-shadow: 0 0 2em 0 #000000
    color: $white
    &:nth-child(even)
      background-color: $gray
      z-index: 0
  &__icon
    font-size: 3.8em
  &__text
    margin-top: 0.5em
    text-align: center
    font-size: 1.4em

.sale
  +wrapper()
  padding: 0
  position: relative
  background-color: $yellow
  &__wrapper
    position: relative
    padding: 3.5em
  &__img
    position: absolute
    top: 1.5em
    &--auto
      left: 20em      
      width: 23em
    &--moto
      transform: scaleX(-1)
      left: 30em
      width: 18em
  &__cat
    line-height: 0.6em
    letter-spacing: -0.06em
    position: relative
    color: $white
    font-size: 15em
    font-weight: bold
    z-index: 1
  &__content
    width: 30%
    position: absolute
    top: 3em
    right: 3em
    color: $coal 
  &__header
    font-size: 2.5em
    font-weight: bold
  &__text
    margin-top: 0.5em
    font-size: 1.3em
    font-weight: bold


.reviewer
  &__head
    display: flex
  &__info
    margin-left: 1em
    display: flex
    flex-direction: column
    justify-content: center
  &__img
    width: 10em
    height: 10em
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    overflow: hidden
  &__link
    color: $coal
    font-size: 1.5em

.reviews
  margin-bottom: 2em
  &__buttons
    display: flex
    margin: 0 auto
  &__button
    width: 2em
    height: 2em
    display: flex
    justify-content: center
    align-items: center
    background-color: $yellow
    color: $gray
    font-size: 1.5em
    font-weight: bold
    cursor: pointer
